<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App on Node.js</title>
    <link rel="icon" href="/img/weathericon.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    

    {{>footer}}
</body>

</html>

