<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Logs</title>
    <link rel="icon" href="/img/weathericon.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}

            {{#each logs}}
        <p>
            {{this.time}} -  {{this.messageOne}} -  {{this.messageTwo}}
        </p>
            {{/each}}

    </div>


    {{>footer}}
</body>

</html>

